html{
    background-color: cornflowerblue;
}

h1{
    text-align: center;
}
div{
    text-align: center;
}
#formularioCalculadora{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

#formularioCalculadora input{
    width: 20%;
    height: 60px;
    color: red;
    background-color: aqua;
   
    font-size: 50px;
}

#formularioCalculadora input:hover{
    background-color: beige; 
}
#txtResultado{
    background-color:aqua;
    color: red;
    font-size: 5em;
}

hr{
    width: 50%;
}